---
types: publication
tags: conference_publications
publication_date: 2015-10-11T00:00
layout: publication
title: 'Media REVEALr: A Social Multimedia Monitoring and Intelligence System for
  Web Multimedia Verification.'
date: '2015-12-10T11:32:04+02:00'
---
<p>Andreadou, K., Papadopoulos, S., Apostolidis, L., Krithara, A., &amp; Kompatsiaris, Y. (2015). <a href="http://link.springer.com/chapter/10.1007%2F978-3-319-18455-5_1">Media REVEALr: A Social Multimedia Monitoring and Intelligence System for Web Multimedia Verification</a>. In Intelligence and Security Informatics (pp. 1-20). Springer International Publishing.</p>
