---
types: publication
tags:
- conference_publications
images: []
publication_date: '2017-10-27'
layout: publication
title: MuVer’17 - First International Workshop on Multimedia Verification
date: '2017-11-13T12:07:28+02:00'
---
V. Mezaris, L. Nixon, S. Papadopoulos, J. Spangenberg, "MuVer’17 - First International Workshop on Multimedia Verification", Proc. ACM Multimedia 2017, Mountain View, CA, USA, October 2017.
