---
layout: publication
types: publication
title: 'Context Aggregation and Analysis: A Tool for User-Generated Video Verification'
date: 2019-07-25T16:25:00.000Z
tags: conference_publications
publication_date: '2019-07-25'
---
O. Papadopoulou, D. Giomelakis, L. Apostolidis, S. Papadopoulos and Y. Kompatsiaris, "Context Aggregation and Analysis: A Tool for User-Generated Video Verification", SIGIR 2019 Workshop on Reducing Online Misinformation Exposure (ROME 2019), July 25, 2019
