---
layout: publication
types: publication
title: "Dataset column: Datasets for online multimedia verification"
date: 2022-03-08T12:08:07.416Z
tags: journal_publications
publication_date: 2022-03-08
---
S. Papadopoulos, G. Kordopatis-Zilos, M. Zampoglou, O. Papadopoulou, "Dataset column: Datasets for online multimedia verification.", ACM SIGMultimedia Records, vol. 11, no. 3, p. 1, 2022.